body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #4CAF50;
}
h2 {
    color: #333366;
}
h3 {
    color: #3a3a3a;
}
p {
    line-height: 1.7;
}
li {
    margin-bottom: 10px;
}
br {
    margin-bottom: 10px;
}
#update-schedule {
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#update-schedule h2 {
    font-size: 1.5em;
    color: #333;
}

#update-schedule ul {
    list-style-type: disc;
    padding-left: 20px;
}

#update-schedule li {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}