body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #4CAF50;
}
h2 {
    color: #333366;
}
h3 {
    color: #3a3a3a;
}
p {
    line-height: 1.7;
}
li {
    margin-bottom: 10px;
}
br {
    margin-bottom: 10px;
}